@import "partials/reset.less";

@screen-small: 640px;
@screen-small-max: (@screen-small - 1);

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

html {
  font-size: 25px;
  font-family: "futura-pt", sans-serif;
  background: black;
  color: white;
}

body {
  margin: auto;
  max-width: 900px;
  visibility: hidden;

  &.ready {
    visibility: visible;
  }
}

::selection {
  color: black;
  background: white;
}

p {
  line-height: 1.3;

  &.design-credit {
    font-size: 0.5em;
    margin-bottom: 0.25rem;
  }
}

a {
  color: inherit;

  // &:hover,
  // &:focus,
  // &:active {
  //   color: inherit;
  // }
}

button {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 0.75em;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}

.box {
  border: 3px solid;
  padding: 0.5rem;
  margin-bottom: 1rem;
  transform: translateZ(0);

  > *:last-child {
    margin-bottom: 0;
  }
}

.speech-bubble {
  float: left;
  clear: left;
  overflow: visible;
  transform-origin: top left;

  > div {
    &:extend(.box all);
  }

  &[data-show]:not([data-show="in"]),
  &[data-speech-bubble]:not([data-speech-bubble="in"]) {
    height: 0 !important;
    opacity: 0;
    pointer-events: none;
  }

  &[data-speech-bubble="in"] {
    animation: ShowSpeechBubble 600ms;
  }

  &[data-show="in"] {
    animation: ShowSpeechBubble 600ms;
  }

  &.right {
    float: right;
    clear: none;

    > div {
      border: 0;
    }
  }

  @media(max-width: @screen-small-max) {
    width: 100%;
  }
}

.projects {
  margin-right: -1em;
}

.project {
  margin-right: 1em;

  ~ .project {
    clear: none;

    &:last-child {
      clear: left;
    }
  }

  &.half {
    max-width: 450px;
  }

  > div {
    transition: background 500ms;

    &:hover {
      transition-duration: 150ms;
    }
  }
}

.pillow {
  > div:hover {
    background: #0258D2;
  }
}

.bike {
  > div:hover {
    background: #4AB678;
  }
}

.honey {
  > div:hover {
    background: #F69523;
  }
}

.vermont {
  > div:hover {
    background: #CA3725;
  }
}

.contact-info {
  float: right;
  font-size: 0.7em;

  h1, ul, li, a {
    display: inline-block;
  }

  h1 {
    padding: 0.25em;
    margin-right: 0.5em;

    span {
      display: inline-block;

      &:after {
        content: ' |';
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  a {
    padding: 0.25em;
  }

  @media(max-width: @screen-small-max) {
    width: 100%;
    text-align: center;

    h1, ul {
      display: block;
    }
  }
}

.vertical-center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
  padding-top: 2rem;
}

@keyframes ShowSpeechBubble {
  0% {
    opacity: 0;
    height: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
  }
}