@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for "rich text" content produced in WordPress editor */
.rich-text {
  @apply text-lg;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  blockquote,
  pre {
    @apply mb-4;
  }

  h1 {
    @apply font-serif text-5xl;
  }

  h2 {
    @apply font-serif text-4xl;
  }

  h3 {
    @apply font-serif text-3xl;
  }

  h4 {
    @apply font-serif text-2xl;
  }

  h5 {
    @apply font-serif text-xl;
  }

  h6 {
    @apply font-serif text-lg;
  }

  p {
  }

  ul {
    @apply list-inside list-disc;
  }

  ol {
    @apply list-inside list-decimal;
  }

  hr {
    @apply border-black mt-6 mb-6;
  }

  a {
    @apply text-blue-700 underline hover:text-blue-500;
  }

  blockquote {
    @apply border-l-4 border-black p-4 font-serif text-2xl italic;

    > p:last-child {
      @apply mb-0;
    }
  }

  pre {
    @apply overflow-scroll rounded-md bg-chardonnay-100 p-4 text-sm;
  }

  figure {
    @apply mb-4 table;
  }

  figcaption {
    @apply mb-4 mt-2 table-caption caption-bottom text-sm;
  }

  /* Editor formatting classes */

  .figure-left {
    @apply float-left mb-0 mr-2 max-w-[40%] md:max-w-full;
  }

  .figure-right {
    @apply float-right mb-0 ml-2 max-w-[40%] md:max-w-full;
  }

  .footnotes {
    @apply text-sm;

    ol li {
      @apply list-decimal list-inside mb-4;

      a {
        @apply no-underline;
      }

      p {
        @apply inline;
      }
    }
  }
}
