/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
html {
  font-size: 25px;
  font-family: "futura-pt", sans-serif;
  background: black;
  color: white;
}
body {
  margin: auto;
  max-width: 900px;
  visibility: hidden;
}
body.ready {
  visibility: visible;
}
::-moz-selection {
  color: black;
  background: white;
}
::selection {
  color: black;
  background: white;
}
p {
  line-height: 1.3;
}
p.design-credit {
  font-size: 0.5em;
  margin-bottom: 0.25rem;
}
a {
  color: inherit;
}
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 0.75em;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
button[disabled] {
  cursor: default;
  opacity: 0.5;
}
.box,
.speech-bubble > div {
  border: 3px solid;
  padding: 0.5rem;
  margin-bottom: 1rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.box > *:last-child,
.speech-bubble > div > *:last-child {
  margin-bottom: 0;
}
.speech-bubble {
  float: left;
  clear: left;
  overflow: visible;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.speech-bubble[data-click-in]:not([data-click-in="in"]),
.speech-bubble[data-speech-bubble]:not([data-speech-bubble="in"]) {
  height: 0 !important;
  opacity: 0;
  pointer-events: none;
}
.speech-bubble[data-speech-bubble="in"] {
  -webkit-animation: ShowSpeechBubble 600ms;
          animation: ShowSpeechBubble 600ms;
}
.speech-bubble[data-click-in="in"] {
  -webkit-animation: ShowSpeechBubble 600ms;
          animation: ShowSpeechBubble 600ms;
}
.speech-bubble.right {
  float: right;
  clear: none;
}
.speech-bubble.right > div {
  border: 0;
}
@media (max-width: 639px) {
  .speech-bubble {
    width: 100%;
  }
}
.projects {
  margin-right: -1em;
}
.project {
  margin-right: 1em;
}
.project ~ .project {
  clear: none;
}
.project ~ .project:last-child {
  clear: left;
}
.project.half {
  max-width: 450px;
}
.project > div {
  -webkit-transition: background 500ms;
  transition: background 500ms;
}
.project > div:hover {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.pillow > div:hover {
  background: #0258D2;
}
.bike > div:hover {
  background: #4AB678;
}
.honey > div:hover {
  background: #F69523;
}
.vermont > div:hover {
  background: #CA3725;
}
.contact-info {
  float: right;
  font-size: 0.7em;
}
.contact-info h1,
.contact-info ul,
.contact-info li,
.contact-info a {
  display: inline-block;
}
.contact-info h1 {
  padding: 0.25em;
  margin-right: 0.5em;
}
.contact-info h1 span {
  display: inline-block;
}
.contact-info h1 span:after {
  content: ' |';
}
.contact-info h1 span:last-child:after {
  content: none;
}
.contact-info a {
  padding: 0.25em;
}
@media (max-width: 639px) {
  .contact-info {
    width: 100%;
    text-align: center;
  }
  .contact-info h1,
  .contact-info ul {
    display: block;
  }
}
.vertical-center-outer {
  display: table;
  width: 100%;
  height: 100%;
}
.vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
  padding-top: 2rem;
}
@-webkit-keyframes ShowSpeechBubble {
  0% {
    opacity: 0;
    height: 0;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    opacity: 1;
  }
}
@keyframes ShowSpeechBubble {
  0% {
    opacity: 0;
    height: 0;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
